<!DOCTYPE html>
<html>
    <head>
    <title>addpessoa</title>
    <style>
    body {
        background-color: #191970;
    }
    </style>
    </head>
    <body>
        <p>Salvar Pessoa </p>
        <br></br>
        <form action= "/listapessoa">
        <p>Nome: <input type="text" name="Nome"></input></p>
        <p>Idade: <input type="text" name="Idade"></p>
        <p>Nascimento: <input type="text" name="Nascimento"></p>
        <p>cpf: <input type="text" name="Cpf"></p>
        <br></br>
        <input type="submit" value="enviar"/>
        </form>
        <br></br>
        <br></br>
        
    </body> 
</html>