<!DOCTYPE html>
<html>
    <head>
    <title>alterar-pessoa</title>
    <style>
    body{
        background-color: #C0C0C0;
        }
    </style>
    </head>
    <body>
        <p>Alterar Pessoa </p>
        <br></br>
        <form action= "/alterar_pessoa">
        <p>Nome: <input type="text" name="Nome" value="{{pessoa.nome}}"></input></p>
        <p>Idade: <input type="text" name="Idade" value="{{pessoa.idade}}"></p>
        <p>Nascimento: <input type="text" name="Nascimento" value="{{pessoa.nascimento}}"></p>
        <br></br>
        <input type="hidden" name="Cpf" value="{{pessoa.cpf}}">
        <input type="submit" value="enviar"/>
        </form>
        <br></br>
        <br></br>
        
    </body> 
</html>