<!DOCTYPE html>
<html>
    <head>
    <title>início</title>
    <style>
    body{
        background-color: #C0C0C0;
        text-align: center;
     }
    
    </style>
    </head>
    <body>
        <h1> Primeira página de programação objetivo te enviar pra <a href=/addpessoa>outra página</a></h1>
        <br></br>
        <center></center>
        <a href="https://jogue.br.leagueoflegends.com/static/index.html?utm_expid=.6h54Hj1kRyqSWi3wIfwePg.1&utm_referrer=https%3A%2F%2Fwww.google.com%2F"><img src="/static/godi.jpeg"></img></a>
        </center>
    </body> 
</html>