<!DOCTYPE html>
<html>
    <head>
    <title>início</title>
    <style>
    body{
        background-color: #C0C0C0;
        text-align: center;
     }
    
    </style>
    </head>
    <body>
        {% if session["usuario"]%}
        <p>
        <form action="/logout">
        <input type="submit" value="LOGOUT">
        </form>
        </p>
        {% else %}
        <p>
        <form action="/login_form">
        <input type="submit" value="LOGIN">
        </form>
        </p>
        {% endif %}

        <br></br>

        <h1> Primeira página de programação objetivo te enviar pra ir adicionar pessoa <a href="/addpessoa">clique aqui</a>.</h1>

        <br></br>
        <center></center>
        <a href="https://jogue.br.leagueoflegends.com/static/index.html?utm_expid=.6h54Hj1kRyqSWi3wIfwePg.1&utm_referrer=https%3A%2F%2Fwww.google.com%2F"><img src="/static/godi.jpeg"></img></a>
        </center>
    </body> 
</html>